{% extends 'base.html' %}

{% block title %} Mašina {% endblock %}

{% block content %}
<p>Mašina: <b>{{ order.car }}</b> </p>
<p>Užsakymo data: <b>{{ order.date }}</b></p>
<p>
    Atlikti iki:
    <span class="{% if order.is_overdue %}text-danger{% endif %}">
        {{ order.due_back }}
    </span>
<p>Klientas:
    {% if order.car_owner.profile.photo %}
        <img src="{{ order.car_owner.profile.photo.url }}" class="rounded-circle" style="width: 30px">
    {% endif %}
    <b>{{ order.car_owner }}</b>
</p>

<p>Užsakymo statusas: <b>{{ order.get_status_display }}</b></p>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Paslaugos:</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
    </tr>
    </thead>
    <tbody>
    {% for line in order.lines.all %}
    <tr>
        <td>{{ line.service.name }}</td>
        <td>{{ line.service.price }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.line_sum }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan="3">Bendra suma:</th>
        <th>{{ order.total }}</th>
    </tr>

    </tbody>
</table>
<h3> Komentarai </h3>
{% if user.is_authenticated %}
<form method="post" class="mb-2">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Paskelbti</button>
</form>
{% endif %}
{% for comment in order.comments.all %}
<p>
    {% if comment.author.profile.photo %}
        <img src="{{ comment.author.profile.photo.url }}" class="rounded-circle" style="width: 30px">
    {% endif %}
    <strong>{{ comment.author }}</strong>, <em>{{ comment.date }}</em>
    <br>
    {{ comment.content }}
</p>
{% empty %}
<p> Komentarų šiuo metu nėra </p>
{% endfor %}
{% endblock %}