{% extends "base.html" %}

{% block title %}Profilis{% endblock %}

{% block content %}
{% if user.profile.photo %}
<img src="{{ user.profile.photo.url }}" class="rounded-circle">
{% endif %}
<p>Vartotojas: {{ user.username }}</p>
<p>Vardas: {{ user.first_name }}</p>
<p>Pavardė: {{ user.last_name }}</p>
<p>El. paštas: {{ user.email }}</p>

<hr>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ u_form | crispy }}
    {{ p_form | crispy }}
    <button class="btn btn-secondary" type="submit">Saugoti</button>
</form>
{% endblock %}